label {
    display: inline-block;
    text-align:right;
    width: 20%;
}

fieldset {
    display: inline-block;
    margin: auto;
    border-radius: 20px;
    border: 2px solid lightgray;
    width: 400px;
    text-align: center;
}

.div-center {
    display: flex;
    justify-content: center;
}

input{
width: 237px;
}

h1{
    text-align: center;
}

footer {
    text-align: center;
}

button {
    text-align: center;
}

.error {
    color: red;
    margin: auto;
    text-align: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.autType {
    text-align: center;
}

.username {
    text-align: center;
}

.todoAction {
    text-align: center;
}

.navigationBar {
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    padding: 10px;
}
.todoList {
    border: 2px solid lightgray;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
}
ul{
    display: table;
    text-align: left;
}
li{
    display: table;
    text-align: left;
}
aside {
    text-align: center;

}
select{
    display: inline-block;
    text-align: left;
    justify-content: center;
    width: 245px;
}

.selectLabel{
text-align: right;
}
#endDate{
    width: 240px;
}



